@model IEnumerable<GACD_StackOverflow_Project.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2>MiniStackOverflow</h2>

<h4>Top Questions</h4>

<div>@Html.Partial("_MenuPartial")</div>
<hr>



@foreach (var item in Model)
{
    <table>
        <tr>
            <td align="center" border="1"><h2>0</h2></td>
            <td rowspan="2" >
                <ul type="none">
                    <div>
                        <li>
                            <h2>@Html.ActionLink(item.Title, "AskQuestion", new { id = item.QuestionId })</h2>
                            @*@Html.DisplayFor(modelItem => item.Title)*@
                        </li>
                        <li>
                            @Html.ActionLink(item.OwnerUsername, "ViewProfile", "Account", new { id = item.QuestionId }, null)
                            @*@Html.DisplayFor(modelItem => item.OwnerUsername)*@
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => item.Votes)
                        </li>
                        <li>
                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@
                        </li>
                    </div>
                </ul>
            </td>
        </tr>

        <tr>
         <td><h5>Answer</h5></td>
        </tr>
    </table>
}