@model IEnumerable<GACD_StackOverflow_Project.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2>MiniStackOverflow</h2>

<h4>Top Questions</h4>

<div>@Html.Partial("_MenuPartial")</div>
<hr>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "AskQuestion", new { id = item.QuestionId })
           @*@Html.DisplayFor(modelItem => item.Title)*@ 
        </td>
        <td>
            @Html.ActionLink(item.OwnerUsername, "ViewProfile", "Account",new { id = item.QuestionId },null)
            @*@Html.DisplayFor(modelItem => item.OwnerUsername)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDateQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
        </td>
    </tr>
}

</table>
